{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chunk it login page</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="card">
            <div class="textclass">
                <img src="{% static 'accounts/images/logo.png' %}" alt="Logo" height="40px" width="auto">
                <h1>Welcome Back!</h1>
                <p>We are glad you are here, let’s help you break down your Csv and Json files into smaller chunks.
                </p>
            </div>
            <form class="form__div" id="form__div" action="." method="POST">
                {% csrf_token %}
                <div class="form">
                    {{form.username}}
                    <!-- <input type="text" id="email" class="form__input" autocomplete="off" placeholder=" ">-->
                    <label for="email" class="form__label">Email address</label>
                    <small>Error message</small>
                </div>
                <div class="form">
                    {{form.password}}
                    <!--<input type="password" id="password" class="form__input" autocomplete="off" placeholder=" ">-->
                    <label for="password" class="form__label">Password</label>
                    <small>Error message</small>
                </div>
                <input type="submit" value="Log In" class="btn_submit">               
            </form>

            <p class="accountreg">Don’t Have an Account? <span id="link"><a href="{% url 'register' %}">Sign Up Here!</a></span></p>
            <div class="divider">
                <img src="{% static 'accounts/images/line.png' %}" alt="" height="1px">
                <p id="or">OR Sign Up Here</p>
                <img src="{% static 'accounts/images/line.png' %}" alt="" height="1px">
            </div>
               
            <div class="flexicon">
                <img src="{% static 'accounts/images/microsoft.png' %}">
                <img src="{% static 'accounts/images/google.png' %}" alt="google">
                <img src="{% static 'accounts/images/github.png' %}">
            </div>

        </section>
    </main>
    <script src="{% static 'accounts/js/login.js' %}"></script>
</body>
</html>