{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_form.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <img src="{% static 'accounts/images/Group 26.png' %} " alt="logo" />
      <h3>Trouble Logging In?</h3>
      <p>
        Enter the email address associated with your account and <br /><br />
        we will send you a link to reset your password.
      </p>
      <div>
        <form action="" id="form" method="POST">
          {% csrf_token %}
          <div class="form">
            <label for="email-address" class="input-label">Email Address</label>
            <!-- <input name="email" type="email" id="email-address" class="input-field" required/> -->
            {{form.email}}
          </div>
          <br><br>
          <button type="submit">Continue</button>
        </form>
        <p id="sign-up"><small>Don't Have an Account?<a href="#">Sign Up Here!</a></small></p>
      </div>
    </div>
  </body>
</html>
