<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <div class="container">
      <img-section><img src="#" alt="logo" /></img-section>
      <h3>Trouble Logging In?</h3>
      <p>
        Enter the email address associated with your account and <br /><br />
        we will send you a link to reset your password.
      </p>
      <div>
        <form action="">
          <input type="email" placeholder="Email Address" id="email-address" required/>
          <button type="submit">Continue</button>
        </form>
        <p><small>Don't Have an Account?<a href="#">Sign Up Here!</a></small></p>
      </div>
    </div>
  </body>
</html>
