{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Password</title>
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="{% static 'accounts/images/Group 26.png' %}" alt="logo">
        <h3>New Credentials</h3>
        <p>Your identity has been verified!</p>
        <p>Set your new password.</p>
        <div class="div">
            <form action="">
                <label for="pwd" id="label-1">New Password</label>
                <input type="password" id="pwd" required>
                <label for="pwd" id="label-2">Confirm Password</label>
                <input type="password" id="repwd" required>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</body>
</html>