<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Completed</title>
</head>
<body>
    <div class="container">
        <img src="#" alt="done-icon">
        <h3>Password Reset Completed</h3>
        <p>Your password has been reset successfully!</p>
        <a href="login.html"><button type="submit"><small>Log in</small></button></a>
    </div>
</body>
</html>