<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Password</title>
</head>
<body>
    <div class="container">
        <img-section><img src="#" alt="logo"></img-section>
        <h3>New Credentials</h3>
        <p>Your identity has been verified!</p>
        <p>Set your new password.</p>
        <div>
            <form action="">
                <input type="password" name="" id="pwd" placeholder="New Password">
                <input type="password" name="" id="repwd" placeholder="Confirm Password">
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</body>
</html>