{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'chunkapp/css/abt.css' %}">
    <title>ABOUT US</title>
  </head>
  <body>
    <div class="section top">
      <header>
        <nav id="navbar">
          <a href="#">
            <img src="{% static 'chunkapp/css/Group 26.css' %}" class="logo" alt="chunk it"/>
          </a>
          <div class="navigation">
            <div class="nav-link">
              <a href="#">How to Use</a>
              <a href="#">Resources</a>
              <a href="#">Support</a>
              <a href="#">About Us</a>
              <a href="#">Contact Us</a>
            </div>
            <div class="nav-btn">
              <button class="btn1"><a href="#">LOGIN</a></button>
              <button class="btn2"><a href="#">SIGN UP</a></button>
            </div>
          </div>
          <button class="ham-btn"><i class="fa-solid fa-bars"></i></button>
          <button class="close-btn"><i class="fa-solid fa-x"></i></button>
        </nav>
        
        <br>
      </header>
      <section>
        <div class="title">
          <div class="title-item">
            ABOUT CHUNK49
          </div>
        </div>
        <div class="content-container">
          <div class="main-content">
            <p class="content-description ">
              Chunk49 is a website that breaks down large CSV and JSON files into smaller chunks that can be easily viewed, saved for later or downloaded.
              CSV and JSON files can be uploaded by authenticated users on Chunk49 website and split into smaller sizes.
              <br>
            </p>
            
            <div class="f-tures">Features</div>
              <div>
                <p class="main-content-text">
                  <img class="chck" src="Check.png">Break down large CSV and JSON files into smaller chunks 
                  <br>
                  <img class="chck" src="Check.png">Files that has been broken down can be saved to view later
                  <br>
                  <img class="chck" src="Check.png">Chunked files can be downloaded into your device.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="se-me">
          <div class="main-content">
            <div class="mai-cen">
              <div class="div-me-te">
                <div class="me-te">
                  <img src="{% static 'chunkapp/css/Group 70 (1).png' %}">
                </div>
              </div>
              <div id="meet-flex">
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 335.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 354.png' %}">
                </div>
              </div>

              <div id="meet-flex">
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 340.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 341.png' %}">
                </div>
              </div>
              <div id="meet-flex">
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 342.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 343.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
              </div>
              <div id="meet-flex">
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 346.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 347.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 348.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 349.png' %}">
                </div>
              </div>
              <div id="meet-flex">
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Frame 350.png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
                <div>
                  <img class="img-photo" src="{% static 'chunkapp/css/Evelyn (1).png' %}">
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>  
       
    <footer>
      <div class="footer">
        <div class="section">
          <div class="first-section">
            <div class="img">
              <img src="{% static 'chunkapp/css/Group 37.png' %}" alt="chunk it"/>
            </div>
            <div class="footer-list">
              <a href="#"><h4>Resources</h4></a>
              <a href="#">Blog</a>
              <a href="#">Blog</a>
              <a href="#">Video tutorials</a>
              <a></a>
              <a></a>
              
              
            </div>
            <div class="footer-list">
              <a href="#"><h4>Support</h4></a>
              <a href="#">FAQs</a>
              <a href="#">Contact Us</a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
              
            </div>
            <div class="footer-list">
              <a href="#"><h4>About us</h4></a>
              <a href="#">Jobs</a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
          
            </div>
            <div class="footer-list">
              <a href="#"><h4>Software</h4></a>
              <a href="#">APIs</a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
              <a></a>
            </div>
          </div>
          <div class="second-section">
            <div class="subscribe">
              <input type="text" placeholder="Enter email address" />
              <button>Subscribe</button>
            </div>
            <div class="social-icons">
              <p style="margin-bottom: 0.5rem;">Follow Us</p>
              <a href="#"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a>
              <a href="#"><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
              <a href="#"><span class="iconify" data-icon="entypo-social:linkedin-with-circle"></span></a>
              <a href="#"><span class="iconify" data-icon="ant-design:twitter-circle-filled"></span></a>
            </div>
          </div>
          <hr>
          <div class="third-section">
            <div class="third-list">
              <a href="#">Privacy</a>
              <a href="#">Security</a>
              <a href="#">Terms of Use</a>
            </div>
            <div>
              <p>&copy; 2022 Chunk49, INC. PATENT PENDING</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="faq.js"></script>
  </body>
</html>
