{% extends 'dashboard-base.html' %} {% block content%} {% load static %} {% load i18n %} {% block head %} {{ wizard.form.media }} {% endblock %}
{% load chunk_extras %}
    <link rel="stylesheet" href="{% static 'accounts/css/dashboard5.css' %}">

        
            <div class="main-container mx-auto">
                <div class="content py-5 d-flex align-items-center justify-content-center ">

                    <div class="mt-1">
                        <div class="d-flex justify-content-center "><img src="{% static 'accounts/images/tick-circle.svg' %}" alt="" class="image"></div>
                        <div class="text-center">
                            <p id="p1">Chunking Successful</p>
                            <p id="p2">Your file has successfully been splitted</p>
                            <p id="file-name" class="p3">File Name :{{id}}</p>
                            <p id="file-size" class="p3">Size: {{download|filesize|filesizeformat}}</p>
                        </div>
                        <div class="d-flex justify-content-between text-center gap-4 w-100 pb-5">
                            <button type="button" class="btn savefile-btn" onclick="saveFile()">
                                            <span class="white-text d-none d-md-block">Save file on server</span>
                                            <img src="{% static 'accounts/images/save-file.svg' %}" alt="" class="file-image"> 
                                        </button>
                            <button class="btn download-btn" onClick="process();">
                                            <span class="white-text d-none d-md-block">Download File</span>
                                            <img src="{% static 'accounts/images/download-file.svg' %}" alt="" class="file-image">
                                        </button>
                        </div>
                    </div>
                </div>

            </div>
   
 
    <script src="{% static 'accounts/js/dashboard.js' %}" defer></script>
   
    <script>
        function process() {
            download();
            setTimeout(redirect, 2000);
        }

        function download() {
            window.location.href = '{{ download }}';
        }

        function redirect() {
            window.location.href = '{% url "chunkapp:download" id %}';
        }

        function saveFile() {
            window.location.href = '{% url "chunkapp:recent" %}';
        }
    </script>
{%endblock%}