{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Chunk It</title>
    <link rel="stylesheet" href="{% static 'accounts/css/delete_view.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
        <div class="d-flex justify-content-center align-items-center upload-container">
                    <div class="main content my-5 py-5 d-flex justify-content-center align-items-center">
                        <!-- Create a Form -->
                        <form method="POST">
                            <!-- Security token by Django -->
                            {% csrf_token %}
                            Are you want to delete this item ?
                            <input type="submit" value="Yes" />
                            <a href="{%url 'chunkapp:recent'%}" class="link">Cancel </a>
                        </form>
                    </div>    
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eca1febd0d.js" crossorigin="anonymous"></script>
</body>
</html>

