<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms Of Conditions</title>
    <link rel="stylesheet" href="toc.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>Terms and Conditions</h2>
    <p>
      Thank you for using Chunk49! we are glad that you’re here. Please read our
      terms and conditions before accessing Chunk49. For your satisfaction, we
      have organized these terms in short non-binding manner followed by full
      legal terms. These terms and conditions serves as a contract betwwen us
      and our users, thus we have tried to make it as clear as possible.
    </p>
    <h3>Services Provided</h3>
    <p>
      Chunk49 is a free, ad-free, privacy-conscious website that lets users
      upload files to its server for processing and converting PDF documents as
      well as giving other useful tools linked thereto and as described on the
      website (collectively referred to as the "Services"). You hereby accept
      all of the terms and conditions set forth herein and all obligations and
      liabilities linked thereto by using this Site and the Services made
      available thereon. Since there are presently no registration or usage
      costs associated with the Site, your use alone constitutes an affirmative
      acceptance and consent to all of the terms and conditions stated here.
    </p>
    <h3>Personal Use</h3>
    <p>
      You may use the Site and Services for personal or professional purposes.
      You consent to not using any part of the Services, use of the Services or
      Site, or access to the Services or Site for any commercial purposes,
      including but not limited to displaying, distributing, licensing,
      performing, publishing, reproducing, duplicating, copying, creating
      derivative works from, selling, reselling, exploiting, transferring, or
      uploading.
    </p>
    <h3>User Conduct</h3>
    <p>
      Users are solely responsible for all content uploaded to the Site or
      utilized via the Services. Chunk49 reserves the absolute right, in our
      sole and absolute discretion to take appropriate action to remove or
      otherwise limit your usage of the Site and Services if you take action(s)
      that Chunk49 deems to violate any law, regulation, contract, or terms and
      conditions herein. Users hereby agree not to use the Site and/or Services
      in any unlawful or improper manner.
    </p>
    <h3>Privacy</h3>
    <p>
      By using Chunk49, you agree that we may collect, use, and disclose your
      personal information as well as aggregate and/or anonymized data in
      accordance with our Privacy Policy. You also agree that we may collect,
      use, transfer, and process your personal information.
    </p>
    <h3>Monetary Charges/Fees</h3>
    <p>
      There are currently no costs or assessments associated with using the Site
      or the Services. Despite the aforementioned, Chunk49 retains the
      unalienable right to start charging for such fees and services whenever it
      sees fit, for any reason.
    </p>
    <h3>Indemnity and Release</h3>
    <p>
      You acknowledge and agree that your use of the Site and/or Services, any
      User Content, your connection to the Service, your violation of these
      terms, and Chunk49's officers, employees, directors, and agents, as well
      as Chunk49 affiliates and their officers, employees, directors, and
      agents, shall constitute your consent to the release, indemnification, and
      holding harmless of Chunk49 from and against any and all losses, damages,
      costs, including reasonable attorneys' fees, rights, claims, actions of
      any kind.
    </p>
    <h3>Analysis and Retention of User’s Content</h3>
    <p>
      Chunk49 does not review any User Content submitted over the Site and is
      not in charge of it. By doing so, you accept full responsibility for how
      your User Content is used and uploaded. Few minutes after processing of
      any User Content uploaded to the Site or through the Services is complete,
      Chunk49 makes all practical measures to remove it. You hereby agree to
      this deletion and waive any and all claims against Chunk49 in connection
      therewith. You thus release Chunk49 from any and all claims or damages
      linked thereto as well, in the event that Chunk49 is unable to delete the
      User Content within allocated minutes for whatever reason. You acknowledge
      that any User Content you upload is done so at your own risk and that
      Chunk49 is not responsible for any harm that may result from such User
      Content appearing on the Site or from other Users or third parties having
      access to it. Chunk49 does not make any guarantees or promises regarding
      the security and privacy of user content posted to the site because it
      does not keep or gather any personally identifiable data from it. If
      required to do so by law, or in the good faith belief that such
      preservation or disclosure is reasonably necessary to comply with legal
      process, applicable laws, or government requests, enforce these terms and
      conditions, address claims that any content infringes upon third parties'
      rights, or protect the rights, property, or personal safety of Chunk49,
      its users, or the public, Chunk49 may preserve content and may also
      disclose content.
    </p>
    <h3>Withdrawal of Warranties</h3>
    <p>
      It is solely at your risk to use the website and the services. The
      services are sold and distributed "as is" and "as available." including,
      but not limited to, the implied warranties of merchantability, fitness for
      a particular purpose, title, and non-infringement, Chunk49 expressly
      disclaims all warranties of any kind, whether express, implied, or
      statutory. The following statements are not warranties made by Chunk49:
      (i) the site and services will meet your requirements; (ii) the services
      will be uninterrupted, timely, secure, or error-free; (iii) the results
      that may be obtained from the use of the services will be accurate or
      reliable; or (iv) the quality of any products, services,
    </p>
    <h3>Restrictions on Liability</h3>
    <p>
      You expressly understand and agree that Chunk49 will not be liable for any
      indirect, incidental, special, consequential damages or damages for loss
      of profits, including but not limited to damages for loss of goodwill,
      use, data or other intangible losses, whether based on contracts, torts,
      negligence, strict liability or other legal theory; (i) the use of or
      inability to use the site and/or services; or (ii) any other matter
      relating to Chunk49.
    </p>
    <h3>Security</h3>
    <p>
      We are serious about security. We have put in place technically sound
      organizational and technical safeguards to protect Your Content from
      accidental loss as well as from unauthorized access, use, alteration, or
      disclosure. We cannot, however, promise that unauthorized third parties
      won't ever be able to get around such safeguards or misuse Your Content.
      You are aware of the inherent risk of disclosure associated with internet
      technology. You understand that you do so at your own risk while
      submitting Your Content.
    </p>
    <h3>Miscellaneous</h3>
    <p>
      The remaining parts of these terms and conditions shall remain in full
      force and effect if any provision is found to be defective or
      unenforceable for any reason. Chunk49 maintains the right to alter,
      modify, or add to these Terms at any time, and all such alterations,
      revisions, or additions shall be deemed to have been accepted by User upon
      continued use of the Site following the posting of the modified terms and
      conditions.
    </p>

    <h5>
      <strong
        >THE USER HAS HAD THE OPPORTUNITY TO READ AND REVIEW THESE TERMS AND
        CONDITIONS AND HEREBY AGREES TO THE TERMS SET FORTH HEREIN FREELY,
        VOLUNTARILY, AND WITHOUT COERCION BY USING THE SITE AND/OR SERVICES.
        <br />
        <br />
        <p id="contact">
          KINDLY USE THE CONTACT US FORM ON OUR WEBSITE IF YOU HAVE ANY QUERIES
          REGARDING THIS TERMS .
        </p>
      </strong>
    </h5>
  </body>
</html>
