*{
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Manrope', sans-serif;
font-weight: 700;
}
.section{
padding:2rem 3rem;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #353534;
}
.navigation{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-link{
    display: flex;
    gap: 40px;
    font-size: 20px;
    line-height: 27px;

}
.ham-btn, .close-btn{
    font-size: 40px;
    color: #372092;
    border: none;
    display: none;
}
.logo{
    cursor: pointer;
}
.nav-btn{
    display: flex;
    gap: 24px;
}
 .btn1, .btn2{
    padding: 16px;
gap: 10px;
width: 141px;
height: 51px;
border-radius: 8px;
cursor: pointer;
}
.nav-btn .btn1{
    border: 2px solid #FCC6C6;
    background-color: #fff;
}
.nav-btn .btn2{
background: #372092;
border:none
}
.btn2 a{
    color: #fff;
}
.help{
    color: #251561;
    text-align: center;
    padding: 3rem 0 1rem 0;
}
.search{
width: 1200px;
    margin: auto;
    position: relative;
  

}
.search input[type=text]{
width: 100%;
height: 51px;
padding: 1rem;
background: #9B90C9;
border-radius: 10px;
outline: none;
border: none;
font-size: 20px;
}

.search-btn{
width: 184px;
height: 51px;
position: absolute;
right: 0;
background-color: #372092;
color: #fff;
padding: 0.5rem;
box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
border-radius: 8px;
border: none;display: inline-flex;
justify-content: center;
gap: 10px;
align-items: center;
}
.title{
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
}

.title img{
    width: 100%;
    height: 65px;
    margin: 2rem 0;
    
}
.title-item{
    width: 100%;
    position: absolute;
    top: 30%;
}
.title-item hr{
    border: 5px solid #F55353;
}
.content-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
    justify-content: space-between;
    padding: 3rem 0 5rem 0;
    box-shadow:1px 5px 10px #353534;
}
.main-content{
    width: 48%;
    padding:0 3rem;
}
.content-title{
    color: #251561;
    font-size: 25px;
}
.content-description{
    color: #120B31;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
}
.footer{
    width: 100%;
    background-color: #372092;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer .img{
    width: 30%;
}
.footer-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .first-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-section{
    width: 100%;
    display: flex;
    margin: 5rem 0 1rem 0;
    align-items: center;
    justify-content: space-between;
}

.subscribe{
    width: 30%;
    position: relative;

}
.subscribe input[type=text]{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 8px;
}
.subscribe button{
    position: absolute;
    right: 0;
    height: 40px;
    background-color: #FAA9A9;
    border: none;
    padding: 0.5rem 2rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.social-icons{
color: #fff;
text-align: center;
font-size: 20px;
font-weight: 500;
}
.social-icons a{
fill: #fff;
margin: 1rem;
}
.footer hr{
    border: 2px solid #fff;
}
.third-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500;
}
.third-list{
    display: flex;
    gap:30px;
}
@media (max-width:1200px) {
    .nav-link{
        display: flex;
        gap: 40px;
        font-size: 16px;
        line-height: 27px;
    }
    .btn1, .btn2{
        width: 80px;
        height: 51px;
        }
    
}

@media (max-width:1000px) {
    .nav{
        position: relative;
    }
    .navigation{
        width: 80%;
        display: flex;
        gap: 20px;
        align-items: center;
        display: none;
        position: absolute;
        top:15%;
        background-color:#9B90C9;
        padding: 1rem;
        z-index: 1;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
     gap: 20px;
        font-size: 20px;
        line-height: 27px;
    
    }
    .nav-link a{
        color: #000;
    }
    .nav-btn{
        display: flex;
        gap: 24px;
        padding-top: 1rem;
    }
    .ham-btn{
        font-size: 40px;
        color: #372092;
        border: none;
        display: block;
        
    }
    .close-btn{
        font-size: 40px;
        color: #372092;
        border: none;
        display: none;
        
    }

    .btn1, .btn2{
width: 90px;
height: 51px;
}
.help{
    color: #251561;
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: 20px;
}
.search input[type=text]{
    height: 40px;
}
.search-btn{
    height: 40px;
}
.title-item{
    font-size: 12px;
}


.main-content{
    width: 100%;
    padding:0 2rem;
}
.content-title{
    font-size: 20px;
}
.content-description{
    line-height: 30px;
    font-size: 16px;
}
.footer-list{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.footer .first-section{
    align-items:flex-start ;
}
.second-section{
    margin: 3rem 0 1rem 0;
}
.subscribe{
    width: 100%;
    position: relative;

}
.subscribe button{

    padding: 0.5rem 1rem;
   
}

.social-icons{
    width: 100%;
font-size: 16px;
}
.social-icons a{
    margin: 0.5rem;
    }
.footer hr{
    border: 1px solid #fff;
}
.third-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500;
    gap: 20px;
    font-size: 14px;

}
.third-list{
    width: 90%;
    display: flex;
    gap:10px;
}
.third-section p{ width: 90%;}
}

@media (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .section{
        padding: 2rem 1rem;
    }
.navigation{
    top:13%
}
}