html {
	height: 2000px;
}

/* ================ Variables ================== */

:root {
    --color-primary: #372092;
	--color-blue2: #5845A4;
    --color-accent: #F55353 ;    /*  */ 
	--color-white: #fff;
	--color-black: #000;
	--color-textblack: #353534;
	--color-btn-outline: #FCC6C6;

    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

/* ================  End Variables ================== */

h1 {
    font-size: 38px;
}

h1, h2, h3, h4, h5 {
    color: var(--color-textblack);
}

.accent {
	color: var(--color-accent);
}

section	{
	margin-bottom: 50px;
}

.section_heading {
	text-align: center;
	padding: 20px 0px;
	font-weight: 700;
	font-size: 38px;
}

section h2 {
	margin-bottom: 20px;
}

body{
	line-height: 1.5;
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	width: 100vw;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}

/* .container{
	max-width: 1170px;
	margin:auto;
} */

ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;   
}



/* =============== header =========== */
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
}
.header-main{
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0px;
}
.header .logo a{
	display: grid;
}

.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: var(--color-textblack);
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: var(--color-accent);
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: var(--color-accent);
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid var(--color-accent);
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}

#hid{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* #header2 {
	visibility: hidden;
} */



/* ========== End header section  ============= */



/*  =====  btn in nav ======  */
.secondary__btn {
	padding: 10px 32px 10px 32px;
	margin-right: 12px;
	border-radius: 8px;
	border: 2px solid var(--color-btn-outline); 
	background: var(--color-white);
	color: var(--color-textblack);
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 14px;
	
}

.primary__btn {
	padding: 10px 32px 10px 32px;
	border-radius: 8px;
	border: none; 
	background: var(--color-primary);
	color: var(--color-white);
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.primary__btn:hover {
	background: var(--color-blue2);
	color: var(--color-white);
	border: 0.5px solid var(--color-black);
	transition: var(--transition);
}

.secondary__btn:hover {
	box-shadow: 0px 10px 10px #f4f4f4;
}


.mobile__hidden {
	visibility: visible;
}

.desktop__hidden {
	visibility: hidden;
}

/* hero btn */
#btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 0.7rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
	border-radius: 0.1rem;
}

.btn2:hover {
    background: var(--color-blue2);
    color: var(--color-white);
    border-color: var(--color-black);
	transition: var(--transition);
}

.btn-primary2 {
    background: var(--color-primary);
    color: var(--color-white);
	padding: 14px 107px;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin-top: 48px;
}

	
/* ========== Start hero section  ============= */

#hero {
	margin-top: 40px;
}

#heroimg{
	width: 100%;
	height: auto;
}


/* ========== End hero section  ============= */


.hero__right {
	display: grid;
	justify-items: right;
	align-items: center;

}


/* ========== End hero section  ============= */
.services {
	background-color: var(--color-primary);
	margin-top: 80px;
	padding: 20px 0px 20px 0px;
}

.services h2, .services p {
	color: var(--color-white);
	font-family: 'Manrope', sans-serif;
}

.two__columns {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
	align-items: center;
	gap: 50px;
}

.two__flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.two__flexrev {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}



.services .text__column h2, .services .text__column p {
	color: var(--color-white);
	font-family: 'Manrope', sans-serif;
}

.text__column p {
	width: 376px;
}


.text__column {
	display: grid;
	justify-items: left;
	align-items: center;
}

.img__column {
	display: grid;
	justify-items: center;
	align-items: center;
}

/* .img__column img {
	display: grid;
	justify-items: center;
} */


.howto__use {
	background-image: url(../images/back2.png);
	background-size: cover;
	padding: 48px 0px;
	font-family: inherit;
	color: var(--color-textblack);
}

#howBtn {
	color: #372092;
	border: 2px solid #372092;
	border-radius: 8px;
	background: transparent;
	padding: 17px 70px;
}

#howBtn:hover {
	border: 2px solid var(--color-accent);
	box-shadow: none;
	color: var(--color-accent);
}

/* ========== Converters  ============= */

.converters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.card {
	border: 1px solid var(--color-black);
	padding: 32px 52px;
	border-radius: 20px;
	background: #D7D2E9;
}


.iso-marquee {
    padding: 1.4rem 0;
    font-size: 16px;
    overflow: hidden;
	background-color:#d7d2e9;
 }

 .iso-marquee--long {
    font-size: 16px;
 }

 .iso-marquee-linkwrap a {
	color:#f55353;
}

 .iso-marquee span {
     display: inline-block;
     white-space: nowrap;
     color: #f55353;
     width: var(--tw);
     text-shadow: var(--tw) 0 currentColor,
                  calc(var(--tw) * 2) 0 currentColor,
                  calc(var(--tw) * 3) 0 currentColor,
                  calc(var(--tw) * 4) 0 currentColor;

     will-change: transform;
     animation: iso-marquee var(--ad) linear infinite;
     animation-play-state: play;
 }

 .scroll {
	margin-bottom: 24px;
 }

 @keyframes iso-marquee {
     0% { transform: translateX(0); }
     100% { transform: translateX(-100%); }
 }

 /*
  * on MacOs: System Preferences >
  *           Accessibility >
  *           Display > Reduce motion
  */

 @media (prefers-reduced-motion: reduce) {
   .iso-marquee span {
     animation: none;
     text-shadow: none;
     width: auto;
     display: block;
     line-height: 1.5;
     text-align: center;
     white-space: normal;
   }
 }
/* ========== End Converters  ============= */






/* ========== Start header responsive  ============= */

@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px; 
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: var(--color-white);
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}




/* responsive 2 */

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
   }
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}

	.mobile__hidden {
		visibility: hidden;
	}

	.desktop__hidden {
		visibility: visible;
	}

	#header1 {
		visibility: hidden;
	}
	
	#header2 {
		visibility: visible;
	}
	
	#hid {
		display: none;
	}
}



/* ========== End responsive header section  ============= */


@media(max-width: 991px){
	.converters {
		grid-template-columns: 45% 45%;
		gap: 10px;
	}
}


@media(max-width: 600px){
	.hero__container {
		display: grid;
		grid-template-columns: 50%;
		gap: 5rem;
	}

	.two__columns {
		grid-template-columns: 1fr;
		margin-top: 48px;
		margin-bottom: 120px;
	}

    .two__flex {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 48px;
    }

    .two__flexrev {
        flex-direction: column-reverse;
        gap: 48px;
        margin-bottom: 48px;
    }

	.text__column {
		justify-items: center;
		text-align: center;
	}

	#hero h1 {
		width: 80%;
		font-size: 32px;
	}

	#hero__div {
		display: grid;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.img__column img {
		width: 100%;
		height: auto;
		padding: 0 24px;
	}

	.converters {
		grid-template-columns: 45% 45%;
		gap: 10px;
	}

}




@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 960px) {

	.two__columns {
		display: grid;
		grid-template-columns: 100%;
		gap: 50px;
		margin-bottom: 100px;
	}

	.text__column {
		justify-items: center;
		text-align: center;
		width: 100%;
	}

    .two__flex {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 100px;
    }

    .two__flexrev {
        flex-direction: column-reverse;
        gap: 48px;
        margin-bottom: 100px;
    }

	.converters {
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}

}