
* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    min-height: 100vh;
}
input[value=Yes]{
    background-color: #372092;
    color: #ffffff;
    text-decoration: none;
    font-style: 500;
    font-size: 14px;
    border: 1px solid #372092;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}
a.link{
    background-color: #372092;
    color: #ffffff;
    text-decoration: none;
    font-style: 500;
    font-size: 14px;
    border: 1px solid #372092;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

a.link:hover {
    background-color: #4e32bd;
}

