*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --color-primary: #372092;
    --color-link: #2D5C7F;
    --color-white: #fff;
    --color-text: #353534; 
    --color-text2: #6A6A67;
    --color-border: #a6a6a6; 
}

body {
  font-family: "Convergence", sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--color-primary);
  background-image: url(../images/backgroundlog.png);
  background-size: cover;
}

.textclass, .form__div{
    justify-content: center;
    text-align: center;
}

.textclass{
    margin-bottom: 24px;
}

.form__div .form{
    margin-bottom: 24px;
}

.card{
    color: var(--color-text);
    display: grid;
    justify-items: center;
    padding: 31px 50px 31px 50px;
    width: 450px;
    height: 580px;
    background-color: white;
    border-radius: 12px;
}

p{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    color: var(--color-text2);
    /* padding-bottom: 8px; */
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    padding-bottom: 14px;
}

/* Forms */


.form {
  position: relative;
  width: 20rem;
  height: 3rem;
  }

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-text);
    outline: none;
    padding: 1.25rem;
    background: none;
}    
    /* Change border when input focus*/

form:focus {
    border-color: white;
}

form:hover {
    border-color: rgb(255, 255, 255);
    }

.form__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: var(--color-text2);
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: white;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
}


.form small{
    visibility: hidden;
    border-radius: 3px;
    position: absolute;
    bottom: -17px;
    right: 0;
    }

.form.error small{
    visibility: visible;
    padding: 0 6px;
    background-color: #e74e3c;
    color: #fff;
    }

#forgotPass {
    display: grid;
    justify-content: right;
    margin-top: -12px;
    margin-bottom: 12px;
    /* align-self: right; */
}

#forgotPass a {
    font-size: 14px;
    color: var(--color-text);
}

/*  End Forms */

.btn_submit{
    margin: 16px 0 16px 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

.btn_submit:hover{
    background-color: #20125a;
    cursor: pointer;
}

.accountreg{
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 24px;
}

#or{
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
}

#link{
    color: var(--color-link);
}

#link:hover a{
 text-decoration: underline;
}

.flexicon{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.divider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.divider img:nth-child(1){
    padding-right: 24px;
}

.divider img:nth-child(3){
    padding-left: 24px;
}

.flexicon img:nth-child(1), .flexicon img:nth-child(2){
    margin-right: 40px;
}

