* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../img/backdrop1.jpeg);
  display: flex;
}

.container {
  position: relative;
  margin: auto;
  align-items: center;
  width: 39.34rem;
  height: 49.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

img {
  margin: 40px 0 117px 0;
  width: 70px;
  height: 70px;
}
div {
  display: block;
  text-align: center;
}

h3 {
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 8px;
}

p {
  color: #6a6a67;
  font-weight: 500;
  font-size: 16px;
}
label {
  color: #585856;
  display: block;
  position: absolute;
  top: 400px;
  left: 160px;
  padding: 5px;
  background-color: white;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.3s ease;
}
input {
  margin-top: 74px;
  width: 340px;
  height: 50px;
  border: 1px solid #2d5c7f;
  border-radius: 4px;
  margin-bottom: 64px;
  outline: 0;
  padding: 10px;
  background: transparent;
}

button {
  color: #ffffff;
  background: #372092;
  padding: 16px 134.5px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
button:hover {
  background: #5845a4;
  border: 1px solid #151515;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  cursor: pointer;
}

#sign-up {
  margin-top: 24px;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
}

#sign-up a {
  text-decoration: none;
  color: #2d5c7f;
}
